<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.admin.bc.dao.FDayCapitalRmbMapper" >
  <sql id="defaultColumn">
  	 fid, fbank, fzfb, fwx, fsuma, fwithdraw, fwithdrawother, fwithdrawwait, ffees, fleverborrow, fleverrepay, fupdatetime, fcreatetime
  </sql>
  
  <select id="getPageList" resultType="FDayCapitalRmb" parameterType="java.util.Map">
  	select <include refid="defaultColumn" />
  	from f_day_capital_rmb
  	where 1=1
   <if test="fcreatetime != null">
   and date_format(fcreatetime, '%Y-%m-%d') = date_format(#{fcreatetime}, '%Y-%m-%d')
   </if>
  	order by ${orderField} ${orderDirection}
    limit #{offset},#{limit}
  </select>
  
  <select id="countPageList" resultType="java.lang.Integer" parameterType="java.util.Map">
  	select count(fid)
  	from f_day_capital_rmb
  	where 1=1
   <if test="fcreatetime != null">
   and date_format(fcreatetime, '%Y-%m-%d') = date_format(#{fcreatetime}, '%Y-%m-%d')
   </if>
  </select>
</mapper>