<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.admin.bc.dao.FEntrustMapper" >

	<sql id="entrustColumns">
		f_entrust.fid, f_entrust.fuid, f_entrust.ftradeid, f_entrust.fbuycoinid, f_entrust.fsellcoinid,
		f_entrust.fstatus, f_entrust.ftype, f_entrust.flast, f_entrust.flastamount, f_entrust.flastcount,
		f_entrust.fprize, f_entrust.fcount, f_entrust.famount, f_entrust.fsuccessamount, f_entrust.fleftcount,
		f_entrust.fleftfees, f_entrust.ffees, f_entrust.fmatchtype, f_entrust.fsource, f_entrust.fhuobientrustid,
		f_entrust.fhuobiaccountid, f_entrust.flastupdatTime, f_entrust.fcreateTime, f_entrust.fagentid
	</sql>

	<update id="updateByfId" parameterType="FEntrust" >
		update f_entrust set
		fstatus = #{fstatus},
		flastupdattime = #{flastupdattime}
		where fid = #{fid}
	</update>

	<select id="selectById" resultType = "FEntrust">
		select <include refid="entrustColumns"/> from f_entrust where fuid = #{fuid} and fid = #{fid}
	</select>


	<!-- Admin -->
	<!-- Admin -->
	<select id="getAdminPageList" resultType="FEntrust" parameterType="java.util.Map">
		select
		<include refid="entrustColumns" />
		,f_user.floginname
		,f_user.fnickname
		,f_user.frealname
		from (
		select
		<include refid="entrustColumns" />
		from f_entrust
		where 1=1
		<if test="keyword != null">
			and f_entrust.fuid = ${keyword}
		</if>
		<if test="fstatus != null">
			and f_entrust.fstatus = ${fstatus}
		</if>
		<if test="ftype != null">
			and f_entrust.ftype = ${ftype}
		</if>
		<if test="ftradeid != null">
			and f_entrust.ftradeid = ${ftradeid}
		</if>
		<if test="fprize != null">
			and f_entrust.fprize = ${fprize}
		</if>
		<if test="fagentid != null">
			and f_entrust.fagentid = ${fagentid}
		</if>
		<if test="start != null and start == end">
			<![CDATA[and DATE_FORMAT(f_entrust.fcreatetime,"%Y-%m-%d") = DATE_FORMAT(#{start},"%Y-%m-%d")]]>
		</if>
		<if test="start != null and start != end">
			<![CDATA[and DATE_FORMAT(f_entrust.fcreatetime,"%Y-%m-%d") >= DATE_FORMAT(#{start},"%Y-%m-%d")]]>
		</if>
		<if test="end != null and start != end">
			<![CDATA[and DATE_FORMAT(f_entrust.fcreatetime,"%Y-%m-%d") <= DATE_FORMAT(#{end},"%Y-%m-%d")]]>
		</if>
		<if test="orderField != null">
			order by f_entrust.${orderField} ${orderDirection}
		</if>
		limit #{offset},#{limit}
		) f_entrust left join
		f_user on f_user.fid = f_entrust.fuid

	</select>

	<select id="countAdminPage" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(f_entrust.fid)
		from
		f_entrust
		where 1=1
		<if test="keyword != null">
			and f_entrust.fuid = ${keyword}
		</if>
		<if test="fstatus != null">
			and f_entrust.fstatus = ${fstatus}
		</if>
		<if test="ftype != null">
			and f_entrust.ftype = ${ftype}
		</if>
		<if test="ftradeid != null">
			and f_entrust.ftradeid = ${ftradeid}
		</if>
		<if test="fprize != null">
			and f_entrust.fprize = ${fprize}
		</if>
		<if test="fagentid != null">
			and f_entrust.fagentid = ${fagentid}
		</if>
		<if test="fcreatetime != null">
			and DATE_FORMAT(f_entrust.fcreatetime,"%Y-%m-%d") = DATE_FORMAT(#{fcreatetime},"%Y-%m-%d")
		</if>
	</select>

	<select id="getById" resultType = "FEntrust" parameterType="java.lang.Integer">
		select <include refid="entrustColumns"/> from f_entrust where fid = #{fid}
	</select>

	<select id="getTotalAmountByType" resultType="FEntrust" parameterType="java.util.Map">
		select ifnull(sum(fcount-fleftcount),0) fcount,ifnull(sum(fleftcount),0) fleftcount,ifnull(sum(famount), 0) famount,
		ifnull(sum(fsuccessamount), 0) fsuccessamount,ifnull(sum(ffees), 0) ffees
		from
		f_entrust
		where 1=1
		<if test="fuid != null">
			and fuid = #{fuid}
		</if>
		<if test="buycoinid != null">
			and fbuycoinid = #{buycoinid}
		</if>
		<if test="sellcoinid != null">
			and fsellcoinid = #{sellcoinid}
		</if>
		<if test="type != null">
			and ftype = #{type}
		</if>
		<if test="buycoinid == null">
			and fbuycoinid > 0
		</if>
		<if test="status != null">
			and fstatus = #{status}
		</if>
		<if test="start != null">
			<![CDATA[and fcreatetime >= #{start,jdbcType=VARCHAR}]]>
		</if>
		<if test="end != null">
			<![CDATA[and fcreatetime <= #{end,jdbcType=VARCHAR}]]>
		</if>
	</select>

</mapper>