<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.admin.bc.dao.FVirtualFinancesMapper">

	<sql id="financesColumn">
		fid, fcoinid, fname, fdays, frate, fstate, fcreatetime, fupdatetime, version
	</sql>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from f_virtual_finances	where fid = #{fid,jdbcType=INTEGER}
	</delete>

	<insert id="insert" parameterType="FVirtualFinances">
		insert into f_virtual_finances (fid, fcoinid, fname, fdays, frate,
		fstate, fcreatetime, fupdatetime,
		version)
		values (#{fid,jdbcType=INTEGER}, #{fcoinid,jdbcType=INTEGER}, #{fname,jdbcType=VARCHAR}, #{fdays,jdbcType=INTEGER}, #{frate,jdbcType=DECIMAL},
		#{fstate,jdbcType=INTEGER}, #{fcreatetime,jdbcType=TIMESTAMP}, #{fupdatetime,jdbcType=TIMESTAMP},
		#{version,jdbcType=INTEGER})
	</insert>

	<update id="updateByPrimaryKey" parameterType="FVirtualFinances">
		update f_virtual_finances
		set fcoinid = #{fcoinid,jdbcType=INTEGER},
		fname = #{fname,jdbcType=VARCHAR},
		fdays = #{fdays,jdbcType=INTEGER},
		frate = #{frate,jdbcType=DECIMAL},
		fstate = #{fstate,jdbcType=INTEGER},
		fcreatetime = #{fcreatetime,jdbcType=TIMESTAMP},
		fupdatetime = #{fupdatetime,jdbcType=TIMESTAMP},
		version = version + 1
		where fid = #{fid,jdbcType=INTEGER} and version = #{version,jdbcType=INTEGER}
	</update>

	<select id="selectByPrimaryKey" resultType="FVirtualFinances" parameterType="java.lang.Integer">
		select <include refid="financesColumn" />
		from f_virtual_finances
		where fid = #{fid,jdbcType=INTEGER}
	</select>
	
	<select id="selectAll" resultType="FVirtualFinances">
		select <include refid="financesColumn" /> from f_virtual_finances
	</select>
	
	<select id="selectByCoinId" resultType="FVirtualFinances">
		select <include refid="financesColumn" /> from f_virtual_finances 
		where 1=1
		<if test="fcoinid != null">
   			and fcoinid = #{fcoinid,jdbcType=INTEGER}
		</if>
		<if test="fstate != null">
   			and fstate = #{fstate,jdbcType=INTEGER}
		</if>		 
	</select>
	
</mapper>