<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.coin.mapper.FUserMapper" >

  <sql id="userColumns">
    fid, floginname, fnickname, floginpassword, ftradepassword, ftelephone,
    femail, frealname, fidentityno, fidentitytype, fgoogleauthenticator, fgoogleurl,
    fstatus, fhasrealvalidate, fhasrealvalidatetime, fistelephonebind, fismailbind, fgooglebind,
    fupdatetime, fareacode, version, fintrouid, finvalidateintrocount, fiscny,
    fiscoin, fbirth, flastlogintime, fregistertime, ftradepwdtime, fleverlock, fqqopenid,
    funionid, fagentid, fshowid, flastip, folduid, fplatform
  </sql>
  
  <select id="selectAll" resultType="FUser">
    select <include refid="userColumns"/> from f_user
  </select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultType="FUser">
    select <include refid="userColumns"/>
    from f_user where fid = #{fid,jdbcType=INTEGER}
  </select>
  
</mapper>