<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.coin.mapper.FUserVirtualAddressMapper">

    <sql id="addressColumn">fid, fcoinid, fadderess, fuid, fcreatetime, version</sql>

    <select id="selectByCoinAndAddress" resultType="FUserVirtualAddressDTO">
        select
        <include refid="addressColumn"/>
        from f_user_virtual_address
        where fcoinid = #{fcoinid,jdbcType=INTEGER} and fadderess = #{fadderess,jdbcType=INTEGER}
    </select>
</mapper>