<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qkwl.service.user.dao.FActivityRecordMapper">
	<sql id="activityRecordColumn">
		fid, fuid,fcoinid, fstate,fintrouid, ftype, famount, frecharge, fremark, fcreatetime, version
	</sql>
	
	<insert id="insert" parameterType="FActivityRecord">
		insert into f_activity_record (
		fid, fuid,fcoinid, fstate, fintrouid, ftype,
		famount, frecharge, fremark, fcreatetime,
		version
		) values (
		#{fid,jdbcType=INTEGER}, #{fuid,jdbcType=INTEGER},#{fcoinid,jdbcType=INTEGER},#{fstate,jdbcType=INTEGER}, #{fintrouid,jdbcType=INTEGER}, #{ftype,jdbcType=INTEGER},
		#{famount,jdbcType=DECIMAL}, #{frecharge,jdbcType=DECIMAL}, #{fremark,jdbcType=VARCHAR}, #{fcreatetime,jdbcType=TIMESTAMP},
		#{version,jdbcType=INTEGER}
		)
	</insert>
	
	<select id="selectActivityRecordList" resultType="FActivityRecord" parameterType="java.util.Map">
		select 
			<include refid="activityRecordColumn" />
		from f_activity_record
		where 1=1
		<if test="fuid != null">
			and f_activity_record.fuid = #{fuid}
		</if>
		order by fcreatetime desc
		limit #{offset},#{limit}
	</select>

	<select id="selectActivityRecordCount" resultType="java.lang.Integer" parameterType="java.util.Map">
		select count(*) from f_activity_record
		where 1=1
		<if test="fuid != null">
			and f_activity_record.fuid = #{fuid}
		</if>
	</select>

	<select id="selectByUserIntro" resultType="java.lang.Integer" parameterType="java.lang.Integer">
		select count(DISTINCT fintrouid ) from f_activity_record
		where 1=1    
			and f_activity_record.fuid = #{fintrouid}
	</select>

</mapper>