<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.user.dao.FApiAuthMapper" >

  <sql id="Apicolumn">fid, fuid, fapikey, fsecretkey,frate,fopenrate,fcount,frqip,fip, fstatus, fcreatetime, fupdatetime</sql>

  <insert id="insert" parameterType="FApiAuth" useGeneratedKeys="true" keyProperty="fid">
    insert into f_api_auth 
    (
    	fuid, 
    	fapikey, 
    	fsecretkey,
    	fip,
    	fstatus,
        frate,
        fopenrate,
        fcount,
        frqip,
    	fcreatetime, 
    	fupdatetime
    )
    values 
    (
      	#{fuid,jdbcType=INTEGER}, 
      	#{fapikey,jdbcType=VARCHAR}, 
      	#{fsecretkey,jdbcType=VARCHAR}, 
      	#{fip,jdbcType=VARCHAR}, 
      	#{fstatus,jdbcType=INTEGER},
      	#{frate,jdbcType=DECIMAL},
      	#{fopenrate,jdbcType=INTEGER},
      	#{fcount,jdbcType=INTEGER},
        #{frqip,jdbcType=VARCHAR},
      	#{fcreatetime,jdbcType=TIMESTAMP}, 
      	#{fupdatetime,jdbcType=TIMESTAMP}
    )
  </insert>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from f_api_auth where fid = #{fid,jdbcType=INTEGER}
  </delete>
  
  <select id="selectByPrimaryKey" resultType="FApiAuth" parameterType="java.lang.Integer" >
    select <include refid="Apicolumn" />
    from f_api_auth
    where fid = #{fid,jdbcType=INTEGER}
  </select>
  
  <select id="selectByUser" resultType="FApiAuth" parameterType="java.lang.Integer" >
    select <include refid="Apicolumn" />
    from f_api_auth
    where fuid = #{fuid,jdbcType=INTEGER}
  </select>
  
  
  <select id="selectByApi" resultType="FApiAuth" parameterType="java.lang.String" >
    select <include refid="Apicolumn" />
    from f_api_auth
    where fapikey = #{fapikey,jdbcType=INTEGER}
  </select>
</mapper>