<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.user.dao.FIdentityInfoMapper" >

  <resultMap id="BaseResultMap" type="FIdentityInfo">
    <id column="fid" jdbcType="INTEGER" property="fid" />
    <result column="fusername" jdbcType="VARCHAR" property="fusername" />
    <result column="fidentityno" jdbcType="VARCHAR" property="fidentityno" />
    <result column="fcreatetime" jdbcType="TIMESTAMP" property="fcreatetime" />
    <result column="fisok" jdbcType="INTEGER" property="fisok" />
  </resultMap>
  
  <sql id="identityColumn">fid, fusername, fidentityno, fcreatetime, fisok</sql>
  
  <insert id="insert" parameterType="FIdentityInfo" keyProperty="fid">
    insert into f_identity_info (
      fusername, 
      fidentityno, 
      fcreatetime, 
      fisok
    ) values (
      #{fusername,jdbcType=VARCHAR}, 
      #{fidentityno,jdbcType=VARCHAR}, 
      #{fcreatetime,jdbcType=TIMESTAMP}, 
      #{fisok,jdbcType=INTEGER})
  </insert>
  
  <select id="selectByReal" resultType="FIdentityInfo" parameterType="FIdentityInfo">
  	select <include refid="identityColumn" /> from f_identity_info where fIdentityNo = #{fidentityno,jdbcType=VARCHAR} 
    <if test="fusername != null">
		and fUserName = #{fusername,jdbcType=VARCHAR}
	  </if>
  </select>
</mapper>