<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.qkwl.service.user.dao.FLogConsoleVirtualRechargeMapper">

    <select id="listPage" resultType="FLogConsoleVirtualRecharge" parameterType="java.util.Map">
        select * from
        f_log_console_virtual_recharge
        where 1=1
        <if test="fstatus != null">
            and f_log_console_virtual_recharge.fstatus = #{fstatus}
        </if>
        <if test="ftype != null">
            and ftype = #{ftype,jdbcType=INTEGER}
        </if>
        <if test="fcoinid != null">
            and fcoinid = #{fcoinid,jdbcType=INTEGER}
        </if>
        <if test="fuid != null">
            and fuid = #{fuid,jdbcType=INTEGER}
        </if>
        <if test="orderField != null">
            order by f_log_console_virtual_recharge.${orderField} ${orderDirection}
        </if>
        limit #{offset},#{limit}
    </select>

    <select id="countPage" resultType="java.lang.Integer" parameterType="java.util.Map">
        select count(*) from
        f_log_console_virtual_recharge
        where 1=1
        <if test="fstatus != null">
            and f_log_console_virtual_recharge.fstatus = #{fstatus}
        </if>
        <if test="ftype != null">
            and ftype = #{ftype,jdbcType=INTEGER}
        </if>
        <if test="fcoinid != null">
            and fcoinid = #{fcoinid,jdbcType=INTEGER}
        </if>
        <if test="fuid != null">
            and fuid = #{fuid,jdbcType=INTEGER}
        </if>
    </select>

</mapper>